<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>BairesDev :: QA Automation :: TimeTracker</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Add Fonts from Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700" rel="stylesheet" type="text/css" /><link href="https://fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css" />
    {% load static %}
    <!-- Add JQuery from CDN -->
    <script type="text/javascript" src="{% static 'scripts/jquery-latest.min.js' %}"></script>
    <!-- Add website styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/chosen.min.css' %}" rel="stylesheet" />  
    <script src="{% static 'scripts/chosen.jquery.min.js' %}"></script>  
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/dialog.js' %}" ></script>
    <script src="{% static 'scripts/disable-before-submit.js' %}" ></script>
    <link rel="shortcut icon" href="{% static '/favicon.ico' %}" type="image/x-icon" /><link rel="icon" href="/favicon.ico" type="image/x-icon" /></head>
    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div id="header">
			    <a id="ctl00_linkWebsite" href="Default.aspx"><img src="{% static 'images/logoBairesDev.png' %}" alt="" style="border-width:0px;" /></a>
                {% if user.is_authenticated %}
			    <a id="ctl00_LBLogout" class="logout" href="{% url 'logout'%}?next=/timetracker/">Logout</a>
                {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-2">
            {% block sidebar %}

            {% endblock %}
            </div>
            <div class="col-sm-10 "><div id="main">{% block content %}{% endblock %}</div></div>
        </div>
    </div>
</body>
</html>