{% extends "base_generic.html" %}

{% block content %}
    {% load static %}
    <p>
        Hi <strong>{{ user.first_name }} {{ user.last_name }} ID {{ user.id }} (BP)<strong>. Welcome to <strong>BairesDev TimeTracker</strong>
        
        <div id="ctl00_ContentPlaceHolder_PanelReward">
            <br />
            <br />
            Rewards & Recognition Program is up! Click below to recognize one of your fellow coworkers!
            <br />
            <a id="ctl00_ContentPlaceHolder_RewardProgramLink" href="RPKudos.aspx">
                <img src="{% static 'images/rewardsButton.png' %}" class="rewardsProgramButton" alt="Reward Program" style="margin-top:10px;" />
            </a>  
            <br />
            <br />
        </div>
        <br />
        <br />
        Click below to enter the worked hours on a daily basis for each of your participating projects.
    </p>

    {% block main %}{% endblock %}

{% endblock %}