.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

# BairesDev

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* Here starts the custom CSS */
* {
    font-size: 100%;
    font-family: 'Lato', serif;
    line-height: 1.2em;
}

body {
    font-family: 'Lato', serif;
    font-size: 0.9em;
    color: #222;
}

h1, h2, h3, h4, h5 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

    h2.description, h3.description {
        font-weight: normal;
    }

input[type=radio],
input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
    margin-right: 5px;
}

#container {
    width: 813px;
    margin: 0px auto;
}

/* estilos HEADER */

#header {
    text-align: center;
}

    #header img {
        padding: 20px;
    }

/* estilos BODY */

#main {
    width: 753px;
    padding: 20px 25px;
    border: 1px solid #BBB;
    border-radius: 20px;
    box-shadow: 0 0 10px #888;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #0a71b3;
}

p {
    margin: 0 0 15px 0;
}

ul {
    margin: 0 0 15px 0;
    padding: 0;
}

    ul li {
        margin: 0 0 15px 0;
        padding: 0;
        list-style-type: none;
    }

.btn, .btn:visited {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: 'Lato', serif;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

    .btn:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
        background-color: #f6f6f6;
    }

    .btn:active {
        position: relative;
        top: 1px;
    }

.btn-blue, .btn-blue:visited {
    -moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color: #3d94f6;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Lato', serif;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
}

    .btn-blue:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
        background: -moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background: -webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background: -o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background: -ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
        background-color: #1e62d0;
        color: #ffffff;
    }

    .btn-blue:active {
        position: relative;
        top: 1px;
    }

/* btn-pending */
.btn-pending, .btn-pending:visited {

    background-color: #F7AD3A;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #F7AD3A;
    display: inline-block;
    cursor: default;
    color: #ffffff;
    font-family: 'Lato', serif;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #F7AD3A;
}

.btn-pending:hover {
    color: #ffffff;
}

/* btn-approved */

.btn-approved, .btn-approved:visited {

    background-color: #32c32d;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #349817;
    display: inline-block;
    cursor: default;
    color: #ffffff;
    font-family: 'Lato', serif;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #349817;
}

.btn-approved:hover {
   
    color: #ffffff;
}



/* btn-rejected */


.btn-rejected, .btn-rejected:visited {
    -moz-box-shadow: inset 0px 1px 0px 0px #f78268;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f78268;
    box-shadow: inset 0px 1px 0px 0px #f78268;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fa3838), color-stop(1, #da5353));
    background: -moz-linear-gradient(top, #fa3838 5%, #da5353 100%);
    background: -webkit-linear-gradient(top, #fa3838 5%, #da5353 100%);
    background: -o-linear-gradient(top, #fa3838 5%, #da5353 100%);
    background: -ms-linear-gradient(top, #fa3838 5%, #da5353 100%);
    background: linear-gradient(to bottom, #fa3838 5%, #da5353 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa3838', endColorstr='#da5353',GradientType=0);
    background-color: #fa3838;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #fa3838;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Lato', serif;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fa3838;
}

.btn-rejected:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #da5353), color-stop(1, #fa3838));
    background: -moz-linear-gradient(top, #da5353 5%, #fa3838 100%);
    background: -webkit-linear-gradient(top, #da5353 5%, #fa3838 100%);
    background: -o-linear-gradient(top, #da5353 5%, #fa3838 100%);
    background: -ms-linear-gradient(top, #da5353 5%, #fa3838 100%);
    background: linear-gradient(to bottom, #da5353 5%, #fa3838 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da5353', endColorstr='#fa3838',GradientType=0);
    background-color: #da5353;
    color: #ffffff;
}

.btn-rejected:active {
    position: relative;
    top: 1px;
}


.text-blue {
    color: #0a71b3;
}

.textBold {
    font-weight: bold;
}

.box-white {
    margin-bottom: 10px;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 10px;
    padding: 10px 15px;
}

.boxgray {
    margin-bottom: 10px;
    background-color: #EEE;
    border-radius: 10px;
    padding: 10px 15px;
}

.boxblue {
    margin-bottom: 10px;
    background-color: #ecf2f9;
    border-radius: 10px;
    padding: 10px 15px;
}


.error {
    color: red;
    display: inline-block;
    margin: 10px 0;
}

.login label {
    text-align: right;
}

.login .field {
    width: 200px;
    border: none;
    padding: 4px;
    color: #666;
    background: url(../images/input-bg.png) repeat-x;
    margin-right: 10px;
}

/* estilos FOOTER */

#footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    clear: both;
    text-align: center;
    margin-top: 25px;
    height: 25px;
}


    #footer a {
        text-decoration: none;
        color: #666;
    }

        #footer a:hover {
            color: #0a71b3;
        }

    #footer_baires{
        grid-column-start: 2;
        text-align: center;
    }

    #signature {
        padding-right: 2em;
        grid-column-start: 3;
        text-align: end;
    }

.hidden {
    display: none;
    visibility: hidden;
}

.n {
    display: none;
}

table.tbl-respuestas tr td,
table.tbl-respuestas tr th {
    padding: 5px;
}
table.tbl-respuestas tr.empty-row td {
    padding: 0;
    color: #0a71b3;
}

table.tbl-datos-personales tr td {
    padding: 5px;
}

td.col-left-3 {
    width: 100px;
    text-align: right;
}

table.no-padding tr td {
    padding: 0;
}

.error-form {
    color: red;
    font-size: 1em;
}

.tbl-login {
    width: 350px;
    margin: 10px auto;
}

    .tbl-login tr td {
        padding: 5px;
    }

table.table-examenes-main {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: none;
}

    table.table-examenes-main tr td,
    table.table-examenes-main tr th {
        padding: 5px;
        vertical-align: middle;
    }

    table.table-examenes-main tr th {
        text-align: center;
    }

tr.table-header {
    background-color: #EEE;
}

tr.table-alt-row {
    background-color: #F7F5F6;
}

tr.table-empty-row {
    background-color: #F7F5F6;
}

    tr.table-empty-row td {
        text-align: center;
    }

tr.table-row {
    background-color: #FFF;
}

th.table-examenes-col1 {
    width: 30%;
}

th.table-examenes-col2 {
    width: 20%;
}

th.table-examenes-col3 {
    width: 10%;
}

th.table-examenes-col4 {
    width: 20%;
}

th.table-examenes-col5 {
    width: 20%;
}

.centered {
    text-align: center;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

a.no-decoration {
    text-decoration: none;
}

.large-br br {
    line-height: 25px;
}

div.warning {
    background: url(../images/warning.gif) no-repeat 0 0;
    background-size: 30px 30px;
    padding: 5px 0 0 40px;
}

.tbl-respuestas br {
    line-height: 2em;
}

/* RESPONSIVE */
#container {
    max-width: 950px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

#main {
    width: 100%;
    box-sizing: border-box;
}

/* FORMS */
.login .field {
    max-width: 200px;
    width: 100%;
    display: inline-block;
}

.login-form-cont {
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.control-label {
    padding-right: 0;
}

.form-control {
    height: auto;
}

.tbl-datos-personales span {
    padding-top: 2px !important;
}

.tbl-datos-personales .form-group select, .tbl-datos-personales .form-group input {
    width: 100%;
}

.form-group input[type=submit] {
    width: auto;
}

.chkAceptoReglas input, .chkAceptoReglas label, .tbl-respuestas input, .tbl-respuestas label {
    display: inline;
}

table.table-examenes-main {
    margin-bottom: 0;
}

.box-white img {
    max-width: 100%;
}

input[type=submit] {
    white-space: normal;
}

#ctl00_ContentPlaceHolder_gvExamenes .btn-blue, .btn-blue:visited {
    padding: 6px;
}

.tbl-datos-personales .form-group input[type="radio"] {
    width: 10%;
}

#ctl00_ContentPlaceHolder_rblFullTimePartTime label {
    padding-right: 10px;
}

.validation-summary ul li {
    margin-bottom: 5px;
}

.preguntas, .minutos {
    display: none;
}

.logout {
    margin-top: 1%;
    top: 0;
    right: 0;
    float: right;
}

/* FIN FORMS */
@media screen and (max-width: 768px) {
    .login-form-cont {
        max-width: 400px;
    }

    label.control-label {
        margin-bottom: 5px;
    }

    /*.form-group input[type=submit] {
        width: 100%;
    }*/

    .focal-explanation{
        display: block;
        margin-top: 8px;
    }

    .login .field {
        width: 100%;
        margin-right: 0;
        max-width: none;
    }

    .login-form-cont span {
        position: absolute;
        top: 3px;
    }

    .tbl-datos-personales span {
        text-align: right;
    }
}

/* NU styles */
@media only screen and (max-width: 760px) {

    table.tbl-respuestas, table.tbl-respuestas thead, table.tbl-respuestas tbody, table.tbl-respuestas th, table.tbl-respuestas td, table.tbl-respuestas tr {
        display: block;
        width: auto !important;
    }

    table.tbl-respuestas th{
        display: none;
    }

    table.tbl-respuestas thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.tbl-respuestas td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding: 10px !important;
    }

    table.tbl-respuestas td:before {
        position: relative;
        white-space: nowrap;
        display: block;
        font-weight: bold;
    }

    table.tbl-respuestas td:nth-of-type(1):before { content: "Date"; }
    table.tbl-respuestas td:nth-of-type(2):before { content: "Hours"; }
    table.tbl-respuestas td:nth-of-type(3):before { content: "Project"; }
    table.tbl-respuestas td:nth-of-type(4):before { content: "Assignment Type"; }
    table.tbl-respuestas td:nth-of-type(5):before { content: "Description"; }

    table.tbl-respuestas tr:last-child td:before {
        content: "";
    }

    table.tbl-respuestas tr:last-child td {
        display: none;
    }

    table.tbl-respuestas tr:last-child td:nth-child(2) {
        display: block;
    }

    table.tbl-respuestas tr:last-child td:nth-of-type(2):before { content: "Total Hours"; }

}
/* NU styles */

@media screen and (max-width: 550px) {
    .table-examenes-main .table-header {
        display: none;
    }

    .table-examenes-main tr td {
        display: block;
        width: 100%;
        text-align: center;
    }

    tr.table-alt-row {
        background-color: #fff;
    }

    .table-examenes-main tr > td:first-child {
        border-top: 1px solid #ddd;
        background-color: #EEE;
        font-weight: bold;
        padding: 12px 0;
    }

    .preguntas, .minutos {
        display: inline;
    }

    div.warning {
        background-position-y: 5px;
    }
}

@media screen and (max-width: 535px) {
    #ctl00_ContentPlaceHolder_VolverPreguntaAnteriorButton {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 420px) {
    .tbl-datos-personales .form-group > div, .tbl-datos-personales .form-group > div {
        float: none;
        width: 100%;
    }

    .tbl-datos-personales span {
        width: 100%;
    }

    div.warning {
        background-position-y: 10px;
    }

    .tbl-datos-personales span {
        text-align: left;
        margin-bottom: 5px;
    }
    /* NU styles */
    .form-group input, .form-group select, .form-group textarea{
        width: 100% !important;
    }
    a.cancelar{
        display: block;
        text-align: center;
    }
    table.tblTecnologiasXProyecto tr td, table.tblTecnologiasXProyecto tr th{
        display: block;
        text-align: left !important;
    }
    /* NU styles */
}

table.tblTecnologiasXProyecto tr td,
table.tblTecnologiasXProyecto tr th {
    padding: 5px;
    vertical-align: top;
}
table.tblTecnologiasXProyecto tr th {
    text-align: right;
}
table.tblTecnologiasXProyecto tr td span {
    vertical-align: top;
    margin-left: 5px;
}
.help { margin-bottom: 15px;}
.help li {
    margin-left: 15px;
}

/*Reward program Styles*/
.comboboxStyle{
	position: relative;
}
.ajax__combobox_itemlist
{
	top:0px !important;
	left:0px !important;
}
.ajax__combobox_itemlist li{
	margin-bottom:0px;
	padding:4px 2px;
}
.ajax__combobox_inputcontainer{
	height: 32px;
}
.ajax__combobox_buttoncontainer button{
	display:block;
	float: right;

	border:1px solid #CCC;;
	background-color:#FFF;
	height: 38px !important;
	border-left:0px;
}
.ajax__combobox_textboxcontainer{
	width:100%;
	margin:0px;
	vertical-align: top;
}
.combolabel{
	margin-top:6px;
}

.ajax__combobox_textboxcontainer
input[type=text]{
	display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px 0px 0px 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.kudos .alert.alert-success{
	margin-top:20px;
}
.kudos .alert.alert-danger{
	margin-top:20px;
}
.menu{
	width:110px;
	float: right;
	margin-top:20px;
}
.rewardProgramLink{
	margin-top: 5px;
   float: right;
}
.rewardsProgramButton{
	box-shadow:0px 0px 4px rgba(0,0,0,0.4);
	border-radius:4px;
	border:1px solid #416EAF;		
	transition : border 300ms ease-out;	
	margin-bottom:12px;
}
.rewardsProgramButton:hover{
  -webkit-transition: border 300ms ease-out;
  -moz-transition: border 300ms ease-out;
  -o-transition: border 300ms ease-out;
  transition: border 300ms ease-out;
  
  border:1px solid #FFF;	
}
.popupCategorias{
	
	display:none;
	position:fixed;
	top:20px;
	left:50%;
	width:500px;
	margin-left:-250px;
	background-color:#FFF;
	z-index:10;
	border:1px solid #426DAF;
	padding:15px;
	box-shadow:5px 5px 14px rgba(0,0,0,0.2);
	background: rgb(240,240,240);
	background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 10%);
	border-radius: 10px;
}
.btn-blue, .btn-blue:visited {
    box-shadow:0px 0px 4px rgba(0,0,0,0.4);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7495cb), color-stop(1, #426DAF));
    background: -moz-linear-gradient(top, #7495cb 5%, #426DAF 100%);
    background: -webkit-linear-gradient(top, #7495cb 5%, #426DAF 100%);
    background: -o-linear-gradient(top, #7495cb 5%, #426DAF 100%);
    background: -ms-linear-gradient(top, #7495cb 5%, #426DAF 100%);
    background: linear-gradient(to bottom, #7495cb 5%, #426DAF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color: #7495cb;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #83a1d1;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Lato', serif;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2e4c7c;
    
}

.btn-blue:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #426DAF), color-stop(1, #7495cb));
    background: -moz-linear-gradient(top, #426DAF 5%, #7495cb 100%);
    background: -webkit-linear-gradient(top, #426DAF 5%, #7495cb 100%);
    background: -o-linear-gradient(top, #426DAF 5%, #7495cb 100%);
    background: -ms-linear-gradient(top, #426DAF 5%, #7495cb 100%);
    background: linear-gradient(to bottom, #426DAF 5%, #7495cb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
    background-color: #FFF;
    -webkit-transition: border 300ms ease-out;
  -moz-transition: border 300ms ease-out;
  -o-transition: border 300ms ease-out;
  transition: border 300ms ease-out;
    color: #ffffff;
    border:1px solid #FFF;
}
/* NU styles */
@media only screen and (max-width: 480px) {
    .logout {
        top: 0;
        right: 43%;
        float: none;
        position: absolute;
        display: block;
        text-align: center;
    }
    .tblTecnologiasXProyecto select, .tblTecnologiasXProyecto textarea{
        width: 96% !important;
    }
    table.tblTecnologiasXProyecto tr td span {
        display: inline-block;
        width: 2%;
        margin-left: 2% !important;
    }
    table.tblTecnologiasXProyecto input[type=submit] {
        width: 96%;
    }
    .rewardProgramLink{
		top: 0;
        right: 10px;
        float: none;
        position: absolute;
        display: block;
        text-align: center;
	}
	.popupCategorias{
		max-width:95%;
		margin:0px;
	   top:0px;
	   left:0px;
	}
}
/* NU styles */

.chosen-container-single .chosen-single span {
    margin-top: 3px;
}

.filters.row {
    margin: 0;
    margin-top: 10px;
    padding: 20px 0 0;
    background-color: #EDEDED;
    border-radius: 2px;
    position: relative;
}

.filters .filter {
    float: left;
    padding: 0;
    margin: 0;
}

.filters .filter fieldset {
    background-color: #F9F9F9;
    padding: 10px;
    margin: 6px;
    border-radius: 10px;
    border: 1px solid #888;
}

.filters .filter legend {
    background-color: #FDFDFD;
    width: auto;
    padding: 2px 10px;
    border: 1px solid #888;
    border-radius: 4px;
}

.form-group .filters .filter SELECT,
.form-group .filters .filter INPUT {
    height: 1.5em;
    width: 100%;
    margin: 0;
}

.filters .filter .paginator .page.current {
    text-align: center;
    width: calc(100% - 17px);
    min-width: 20px;
}

.filters .filter input[type=number] {
    text-align: right;
}

.filters .filter .paginator .page {
    vertical-align: middle;
}

.filters input[type=submit] {
    margin-top: 25px;
    padding: 5px 10px;
}

td.money {
    text-align: right;
}

td.date {
    text-align: center;
}

td.center {
    text-align: center;
}

td.row-message {
    text-align: center;
}

.filters input[type=submit].show-filters {
    background-color: #0272b1;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABQwAAAUMBH0gTIwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAExSURBVDiN3dO/S5VhGMbx6zFBEs7QqosNQaOIErgLDf0D4dggDToELS0uOoWjo5Ao/gEODu3h1NbWEkEOEdQQ/kjx4+AzvOY5Hs9rU9d4X/f1vZ/3fe4nWMZPd9dvvC34nqSTZDvJedrpfpL5JF+D1TphpSUs2KqMheAe9nCO5y1grytss1l8gM84xMwAsDmcYR8jf5uP8QvfMHYL2EP8wAHGezU9rRM/XJt4ta+DTzjCk36T39R/8q6HP4Td2vOi35cEBTs1sNjFX6neWl9YIzSKjzjFbKP+rG7Dewx3yw51K5ZSDpMsJRlOMtmwppOUJC9LKWe3BlYd3eAd9zJuArbS/wfs/BMgprGX5FUuL+TPgAdJMFUX+EvdvROs93y3AwBPsYGJVqAGcBLbeDRI7gKm1Gra5Ux61gAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    position: absolute;
    margin-top: -30px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.filters.collapsed {
    height: 30px;
}

.filters.collapsed .filter {
    display: none;
}

.form-group.foot-buttons {
    text-align: right;
}

.form-group input[type="checkbox"] {
    margin-top: 7px;
}

.form-group textarea {
    width: 100%;
}

.attachment {
    margin: 1em 1em 0 0;
}

.delete-attachment {
    background-color: pink;
    background: linear-gradient(to bottom, #f0e8e8 5%, #ffc0c0 100%);
    color: red;
    font-weight: bold;
    margin: -1.8em -0.5em 0 0.3em;
    padding: 0.0em 0.4em;
}

.delete-attachment:hover {
    background: linear-gradient(to bottom, #ffc0c0 5%, #f0e8e8 100%);
    color: red;
}